h1 {
  text-align: center;
}

.but {
  margin-top: 5px;
}

.css-2b097c-container{
  color: #343A41 !important;
}

.petunjuk {
  font-size: 13px;
}

.petunjuk-2 {
  font-size: 11px;
}

.Footer {
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 10px !important;
  background-color: #343A41;
}

.text-caption {
  margin-left: 8%;
  margin-right: 8%;
  font-size: 16px;
  text-align: center;
}

.title-container {
  border-radius: 20px;
  background-color: lightskyblue;
  margin: 50px;
  margin-top: 200px;
}
.body-container {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-style: dashed;
  border-width: 1px;
  border-color: lightsteelblue;
}

.App-container{
  border-radius: 20px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top:50px;
  padding-bottom: 50px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html{
  background-color:#343A41 !important;
}

body{
  background-color: #343A41 !important;
  font-size: 13px !important;
}

.dropdown-button{
  padding-left: 0px;
  padding-right: 100px;
}

.PrivateValueLabel-circle-25 {
  width: 50px !important;
  height: 50px !important;
}

.title-peta-kasus{
  width: 100%;
  padding-bottom: 10px;
}

.map-filter-mobile {
  display: none;
}

.map-filter-web {
  display: block;
}

.persuasive-text {
  margin-right: 27%;
  margin-left: 27%;
}

@media screen and (max-width: 678px) {
  .Footer{
    padding-bottom: 10px;
  }
  .persuasive-text {
    margin-right: 5%;
    margin-left: 5%;
    font-size: 12px !important;
  }
  .map-filter-mobile {
    margin-top: -35px !important;
    display: block;
    margin-bottom: 20px;
  }
  .map-filter-web {
    display: none;
  }
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 25px !important;
  }
  h5 {
    font-size: 20px !important;
    margin-bottom: 0px !important;
  }
  h6 {
    font-size: 15px !important
  }
  .lihat-kasus{
    margin-bottom: 5px;
    font-size: 11px !important;
  }
  .lihat-peta{
    margin-bottom: 5px;
    font-size: 11px !important;
  }
  .lihat-peta-col{
    margin-top: -194px !important;
    z-index: 100;
  }
  .lihat-kasus-col{
    margin-top: -20px !important;
    z-index: 100;
  }
  .title-peta-kasus{
    padding-bottom: 0px;
  }
  .br-mobile{
    display: none;
  }
  .text-caption {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: center;
  }
  .dropdown-button{
    padding-left: 0px;
    padding-right: 0%;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .col-sm-8{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .col-sm-4{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .col-sm-6{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .persuasive-text {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.persuasive-text {
  margin-right: 400px;
  margin-left: 400px
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/